/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --hue: 14;
  --first-color: hsl(var(--hue), 91%, 54%);
  --first-color-alt: hsl(var(--hue), 91%, 50%);
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 85%);
  --text-color-light: hsl(var(--hue), 4%, 55%);

  /*Green gradient
  --body-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);*/
  --body-color: linear-gradient(90deg, hsl(276, 100%, 50%) 0%, hsl(335, 100%, 50%) 100%);
  /*--body-color: linear-gradient(90deg, hsl(276, 100%, 50%) 0%, hsl(335, 100%, 50%) 100%);*/
  
  /*Red gradient*/
  /* --body-color: linear-gradient(90deg, hsl(360, 28%, 40%) 0%, hsl(18, 28%, 40%) 100%);
  --container-color: linear-gradient(136deg, hsl(360, 28%, 35%) 0%, hsl(18, 28%, 35%) 100%); */

  /*Black solid*/
  /* --body-color: hsl(30, 8%, 8%);
  --container-color: hsl(30, 8%, 10%); */

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);  
  color: var(--text-color);
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

button,
input{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 4.5rem 0 2rem;
}

.section__title{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container{
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  cursor: pointer;
}

.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============
.header{
  width: 100%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,.5);
  border-top: 1px solid rgba(255,255,255,.5);
  border-left: 1px solid rgba(255,255,255,.5);
  box-shadow: 0 15px 30px rgba(0,0,0,.2);
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}*/

/*=============== NAV ===============
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  display: flex;
  align-items: center;
}

.nav__logo-img{
  width: 4rem;
  border-radius: 10px;
}

.nav__link,
.nav__logo,
.nav__toggle,
.nav__close{
  color: white;
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    width: 100%;
    background: var(--container-color);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: .4s;
    z-index: var(--z-fixed);
    border-radius: 0 0 1.5rem 1.5rem;
  }

  .nav__logo-img{
    width: 2rem;
    border-radius: 10px;
  }
}

.nav__img{
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav__close{
  font-size: 1.8rem;
  position: absolute;
  top: .5rem;
  right: .7rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link{
  text-transform: uppercase;
  font-weight: var(--font-black);
  transition: .4s;
}

.nav__link:hover{
  color: var(--text-color);
}*/

/* Show menu
.show-menu{
  top: 0;
} */

/* Change background header 
.scroll-header{
  background: var(--container-color);
}*/

/* Active link 
.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}*/

/*=============== HOME ===============*/
.home__content{
  row-gap: 1rem;
}

.home__group{
  display: grid;
  position: relative;
  padding-top: 2rem;
}

.home__img{
  height: 250px;
  justify-self: center;
}

.home__indicator{
  width: 8px;
  height: 8px;
  background-color: var(--title-color);
  border-radius: 50%;
  position: absolute;
  top: 7rem;
  right: 2rem;
}

.home__indicator::after{
  content: '';
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: var(--title-color);
  top: -3rem;
  right: 45%;
}

.home__details-img{
  position: absolute;
  right: .5rem;
}

.home__details-title,
.home__details-subtitle{
  display: block;
  font-size: var(--small-font-size);
  text-align: right;
}

.home__subtitle{
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  line-height: 109%;
  margin-bottom: var(--mb-1);
}

.home__description{
  margin-bottom: var(--mb-1);
}

.home__buttons{
  display: flex;
  justify-content: space-between;
}

/* Swiper Class */
.swiper-pagination{
  position: initial;
  margin-top: var(--mb-1);
}

.swiper-pagination-bullet{
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 .5rem;
} 

.swiper-pagination-bullet-active{
  width: 1.5rem;
  height: 5px;
  border-radius: .5rem;
}

/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--title-color);
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size: 1.25rem;
}

.button--ghost{
  border: 2px solid;
  background-color: transparent;
  border-radius: 3rem;
  padding: .75rem 1.5rem;
}

.button--ghost:hover{
  background: none;
}

.button--link{
  color: var(--title-color);
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

/*=============== CATEGORY ===============*/
.category__container{
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
}

.category__data{
  text-align: center;
}

.category__img{
  width: 120px;
  margin-bottom: var(--mb-0-75);
  transition: .3s;
}

.category__title{
  margin-bottom: var(--mb-0-25);
}

.category__data:hover .category__img{
  transform: translateY(-.5rem);
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2rem;
}

.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-2);
}

.about__img{
  width: 200px;
  justify-self: center;
}

/*=============== TRICK OR TREAT ===============*/
.trick__container{
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.trick__content{
  position: relative;
  background: var(--container-color);
  border-radius: 1rem;
  padding: 1.5rem 0 1rem 0;
  text-align: center;
  overflow: hidden;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,.5);
  border-top: 1px solid rgba(255,255,255,.5);
  border-left: 1px solid rgba(255,255,255,.5);
  box-shadow: 0 15px 30px rgba(0,0,0,.2);
  background: transparent;
}

.trick__img{
  width: 90px;
  transition: .3s;
}

.trick__subtitle,
.trick__price{
  display: block;
}

.trick__subtitle{
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-0-5);
}

.trick__title,
.trick__price{
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}

.trick__button{
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  right: -3rem;
  bottom: 0;
}

.trick__icon{
  font-size: 1.25rem;
  color: var(--title-color);
}

.trick__content:hover .trick__img{
  transform: translateY(-.5rem);
}

.trick__content:hover .trick__button{
  right: 0;
}

/*=============== DISCOUNT ===============*/
.discount__container{
  background: var(--container-color);
  border-radius: 1rem;
  padding: 2.5rem 0 1.5rem;
  row-gap: .75rem;
}

.discount__data{
  text-align: center;
}

.discount__title{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}

.discount__img{
  width: 200px;
  justify-self: center;
}

/*=============== NEW ARRIVALS ===============*/
.new__container{
  padding-top: 1rem;
}

.new__img{
  width: 120px;
  margin-bottom: var(--mb-0-5);
  transition: .3s;
}

.new__content{
  position: relative;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,.5);
  border-top: 1px solid rgba(255,255,255,.5);
  border-left: 1px solid rgba(255,255,255,.5);
  /*box-shadow: 0 15px 30px rgba(0,0,0,.2);*/
  background: transparent;
  width: 242px;
  padding: 2rem 0 1.5rem 0;
  border-radius: .75rem;
  text-align: center;
  overflow: hidden;
}

.new__tag{
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: var(--first-color);
  color: var(--title-color);
  font-size: var(--small-font-size);
  padding: .25rem .5rem;
  border-radius: .25rem;
}

.new__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.new__subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-5);
}

.new__prices{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.new__price{
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.new__discount{
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  text-decoration: line-through;
  font-weight: var(--font-medium);
}

.new__button{
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  bottom: 0;
  right: -3rem;
}

.new__icon{
  font-size: 1.25rem;
}

.new__content:hover .new__img{
  transform: translateY(-.5rem);
}

.new__content:hover .new__button{
  right: 0;
}

/*=============== NEWSLETTER ===============*/
.newsletter__description{
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.newsletter__form{
  background: var(--container-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: .75rem;
}

.newsletter__input{
  width: 70%;
  padding: 0 .5rem;
  background: none;
  color: var(--title-color);
}

.newsletter__input::placeholder{
  color: var(--text-color);
}

/*=============== FOOTER ===============*/
.footer{
  position: relative;
  overflow: hidden;
  border: 1px solid white;
}

.footer__img-one,
.footer__img-two{
  position: absolute;
  transition: .3s;
}

.footer__img-one{
  width: 100px;
  top: 6rem;
  right: -2rem;
}

.footer__img-two{
  width: 150px;
  bottom: 4rem;
  right: 4rem;
}

.footer__img-one:hover,
.footer__img-two:hover{
  transform: translateY(-.5rem);
}

.footer__container{
  row-gap: 2rem;
}

.footer__logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.footer__logo-img{
  width: 100px;
  border-radius: 20px;
}

.footer__description{
  margin-bottom: var(--mb-2-5);
}

.footer__social{
  display: flex;
  column-gap: .75rem;
}

.footer__social-link{
  display: inline-flex;
  background: var(--container-color);
  padding: .25rem;
  border-radius: .25rem;
  color: var(--title-color);
  font-size: 1rem;
}

.footer__social-link:hover{
  background: linear-gradient(90deg, hsl(0, 0%, 0%) 0%, hsl(0, 0%, 0%) 100%);;
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.footer__links{
  display: grid;
  row-gap: .35rem;
}

.footer__link{
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover{
  color: var(--title-color);
}

.footer__copy{
  display: block;
  text-align: center;
  font-size: var(--smaller-font-size);
  margin-top: 4.5rem;
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  background: var(--container-color);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: .3rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup__icon{
  font-size: 1.25rem;
  color: var(--title-color);
}

.scrollup:hover{
  background: var(--container-color);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  background: #413e3e;
}

::-webkit-scrollbar-thumb{
  background: #272525;
  border-radius: .5rem;
}

/*===============  BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
 .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
 }
  .home__img{
    height: 200px;
  }
  .home__buttons{
    flex-direction: column;
    width: max-content;
    row-gap: 1rem;
  }

  .category__container,
  .trick__container{
    grid-template-columns: .8fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .about__container{
    grid-template-columns: .8fr;
    justify-content: center;
  }

  .newsletter__container{
    display: grid;
    grid-template-columns: .7fr;
    justify-content: center;
  }
  .newsletter__description{
    padding: 0 3rem;
  }
}

@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .section{
    padding: 7rem 0 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__img,
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__link{
    text-transform: initial;
    font-weight: initial;
  }

  .home__content{
    padding: 8rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .home__img{
    height: 300px;
  }
  .swiper-pagination{
    margin-top: var(--mb-2);
  }

  .category__container{
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }

  .about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__title,
  .about__data{
    text-align: initial;
  }
  .about__img{
    width: 250px;
  }

  .trick__container{
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2rem;
  }

  .discount__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    padding: 3rem 0;
    border-radius: 3rem;
  }
  .discount__img{
    width: 350px;
    order: -1;
  }
  .discount__data{
    padding-right: 6rem;
  }

  .newsletter__container{
    grid-template-columns: .5fr;
  }

  .footer__container{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
  }
  .footer__img-two{
    right: initial;
    bottom: 0;
    left: 15%;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section__title{
    font-size: var(--h1-font-size);
    margin-bottom: 3rem;
  }

  .home__content{
    padding-top: 9rem;
    gap: 3rem;
  }
  .home__group{
    padding-top: 0;
  }
  .home__img{
    height: 400px;
    transform: translateY(-3rem);
  }
  .home__indicator{
    top: initial;
    right: initial;
    bottom: 15%;
    left: 45%;
  }
  .home__indicator::after{
    top: 0;
    height: 75px;
  }
  .home__details-img{
    bottom: 0;
    right: 58%;
  }
  .home__title{
    margin-bottom: var(--mb-1-5);
  }
  .home__description{
    margin-bottom: var(--mb-2-5);
    padding-right: 2rem;
  }

  .category__container{
    column-gap: 8rem;
  }
  .category__img{
    width: 200px;
  }

  .about__container{
    column-gap: 7rem;
  }
  .about__img{
    width: 350px;
  }
  .about__description{
    padding-right: 2rem;
  }

  .trick__container{
    gap: 3.5rem;
  }
  .trick__content{
    border-radius: 1.5rem;
  }
  .trick__img{
    width: 110px;
  }
  .trick__title{
    font-size: var(--h3-font-size);
  }

  .discount__container{
    column-gap: 7rem;
  }

  .new__content{
    width: 310px;
    border-radius: 1rem;
    padding: 2rem 0;
  }
  .new__img{
    width: 150px;
  }
  .new__img,
  .new__subtitle{
    margin-bottom: var(--mb-1);
  }
  .new__title{
    font-size: var(--h3-font-size);
  }

  .footer__copy{
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1200px){
  .home__img{
    height: 420px;
  }
  .swiper-pagination{
    margin-top: var(--mb-2-5);
  }
  .footer__img-one{
    width: 120px;
  }
  .footer__img-two{
    width: 180px;
    top: 30%;
    left: -3%;
  }
}

/*Navigation2*/
/*.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 3px solid #fff;
  z-index: 100;
  float: right;
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}*/
/* ANIMATION 
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}*/

/*
header{
  width: 100%;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items:center;
  background: transparent;
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255,255,255,.5);
  border-top: 1px solid rgba(255,255,255,.5);
  border-left: 1px solid rgba(255,255,255,.5);
  box-shadow: 0 15px 30px rgba(0,0,0,.2); 
  position: fixed;
  z-index: 2;
}

.box{
  transform: scaleX(1);
}*/

/*navbar creation*/
/*.hamburger{
  width: 3rem;
  height: 0.4rem;
  background: white;
  position: relative;
  z-index: 2;
}

.logo{
  width: 6rem;
  margin: 10px;
  border-radius: 50px;
}


.hamburger::after, .hamburger::before{
  content: '';
  display: block;
  width: 50%;
  height: inherit;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.hamburger::after{
  top: calc(-1 * var(--spacing));
 background-color: blue; 
  top: -1rem;
}

.hamburger::before{
  top: 1rem;
  left: 50%;
  background-color: greenyellow; 
}

.close.hamburger::before, .close.hamburger::after{
  left: 50%;
  transform: translate(-50%) rotate(90deg);
  background-color: white;
}

.close.hamburger{
  transform: rotate(-45deg);
  background-color: white;
}*/

/*nav menu*/
/*nav{
  position: absolute;
  background-color: purple;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  transform: scaleX(0)
}

.menu{
  list-style: none;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: scaleX(0);
}

.menu-item{
  color: #fff;
  text-decoration: none;
  font-size: calc(1rem + 1.5vw);
}

.menu li + li{
  margin-top: 1.5em;
}

nav.reveal{
  transform: scaleX(1);
}*/

/*Navigation 3*/
/*.navbar{
  width: 300px;
  height: 100%;
  background: Black;
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20% 0 0 60%;
  transition: right .8s cubic-bezier(1,0,0,1);
  z-index: 2;
}

.change{
  right: 0;
}

.hamburger-menu{
  width: 35px;
  height: 30px;
  background-color: red;
  position: fixed;
  top: 3%;
  right: 1%;
  padding: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.lines{
  width: 100%;
  height: 3px;
  background: black;
  transition: all .8s;
  
}

.change .lines-1{
  transform: rotate(-405deg) translate(-8px, 6px);
}

.change .lines-2{
  opacity: 0;
}

.change .lines-3{
  transform: rotate(405deg) translate(-8px, -6px);    
}

.nav-list{
  text-align: right;
}

.nav-item{
  list-style: none;
  margin: 25px;
}

.nav-link{
  text-decoration: none;
  font-size: 22px;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link::before,
.nav-link::after {
  content: " ";
  width: 100%;
  height: 2px;
  background: chocolate;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav-link::after{
  bottom: 0;
  transform-origin: right;
}

.nav-link::before{
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover{
  color: crimson;
  transition: .5s ease;
}

.logo{
  width: 6rem;
  background: black;
  border-radius: 50px;
  display: flex;
  float: left;
  position: fixed;
}

header{
  width: 100%;
  background: black; 
  padding: 10px;
}*/

/*navbar 2
.menu-btn {
  position: relative;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 3px solid #fff; 
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}*/
/* ANIMATION
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/*
.navbar{
  width: 300px;
  height: 100vh;
  background-color:black;
  display: flex;
  float: right;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20% 0 0 60%;
}*/

/*
.navbar{
  width: 300px;
  height: 100%;
  background: Black;
  position: relative;
  top: 0;
  right: -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20% 0 0 60%;
  transition: right .8s cubic-bezier(1,0,0,1);
}

/*.change{
  right: 0;
}

.nav-list{
  text-align: right;
}

.nav-item{
  list-style: none;
  margin: 25px;
}

.nav-link{
  text-decoration: none;
  font-size: 22px;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link::before,
.nav-link::after {
  content: " ";
  width: 100%;
  height: 2px;
  background: chocolate;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav-link::after{
  bottom: 0;
  transform-origin: right;
}

.nav-link::before{
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover{
  color: crimson;
  transition: .5s ease;
}*/

/*Navigation 4*/
.nav-menu li {
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
}
.header{
  width: 100%;
  position: fixed;
  background: transparent;
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255,255,255,.5);
  border-top: 1px solid rgba(255,255,255,.5);
  border-left: 1px solid rgba(255,255,255,.5);
  box-shadow: 0 15px 30px /* rgba(0,0,0,.2)*/ transparent;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 62.5%;
  font-family: 'Staatliches', cursive;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-item {
  margin-left: 3rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.nav-link:hover{
  color: var(--body-color);
}

.nav-logo {
  width: 6rem;
  border-radius: 20px;
  cursor: pointer;
}

.container{
  margin-top: 50px;
}

.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}


@media only screen and (max-width: 768px) {
  .container{
    margin-top: 80px;
  }

  .nav-logo{
    width: 4rem;
  }

  .header{
   /* margin-top: -15%;*/
    z-index: 100;
  }

  .nav-menu {
      position: fixed;
      left: -100%;
      top: 6rem;
      flex-direction: column;
      background-color: black;
      width: 100%;
      /*border-radius: 10px;*/
      text-align: center;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
      z-index: 100;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 1.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}

@media only screen and (max-width: 360px){
  .header{
    margin-top: -15%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 375px){
  .header{
    margin-top: -15%;
  }
}

@media only screen and (min-width: 414px) and (max-width: 414px){
  .header{
    margin-top: -15%;
  }
}

@media only screen and (min-width: 540px) and (max-width: 540px){
  .header{
    margin-top: -10%;
  }
}

@media only screen and (min-width: 411px) and (max-width: 411px){
  .header{
    margin-top: -14%;
  }
  .container{
    margin-top: 80px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 320px){
  .header{
    margin-top: -20%;
  }
  .nav-item {
    margin: 1.25rem 0;
}
}

@media only screen and (min-width: 280px) and (max-width: 280px){
  .header{
    margin-top: -20%;
  }
}

/*About.html*/
/*Leader*/
.lead-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.lead-container .lead-card{
  position: relative;
  width: 300px;
  height: 360px;
  margin: 20px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.8);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255,255,255,.5);
  border-top: 1px solid rgba(255,255,255,.5);
  border-left: 1px solid rgba(255,255,255,.5);
  /*box-shadow: 0 15px 30px rgba(0,0,0,.2) transparent;*/
  cursor: pointer;
}

.lead-container .lead-card .lead-content{
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  transition: bottom 0.5s;
}

.lead-container .lead-card:hover .lead-content{
  bottom: 0;
}

.lead-container .lead-card .lead-content .contentBx h3{
  color: #fff;
  text-transform: uppercase;
  /*font-family: 'Staatliches', cursive;*/
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align:center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: 0.2s;
}

.lead-container .lead-card:hover .lead-content .contentBx h3{
  opacity: 1;
  transform: translateY(0px);
}

.lead-container .lead-card .lead-content .contentBx h3 span{
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.lead-container .lead-card .lead-content .sci{
  position: relative;
  bottom: 10px;
  display: flex;
}

.lead-container .lead-card .lead-content .sci li{
  list-style: none;
  margin: 20px 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s*var(--i));
}

.lead-container .lead-card:hover .lead-content .sci li{
  transform: translateY(0px);
  opacity: 1;
}

.lead-container .lead-card .lead-content .sci li a{
  color: #fff;
  font-size: 24px;
}

/*Client Testimonial
.test__content{
  position: relative;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,.5);
  border-top: 1px solid rgba(255,255,255,.5);
  border-left: 1px solid rgba(255,255,255,.5);
  box-shadow: 0 15px 30px rgba(0,0,0,.2);
  background: whitesmoke;
  width: 242px;
  padding: 2rem 0 1.5rem 0;
  border-radius: .75rem;
  text-align: center;
  overflow: hidden;
}

.test__content .quote{
  position: relative;
  width: 80px;
  float: right;
  right: 30px;
}

.test__content .details{
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.testcontent{
  margin-top: 10%;

}

.test__content .details .imgTx{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 20px;
}

.test__content .details .imgTx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.test__content .details h3{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2196f3;
  line-height: 1.1em;
}

.test__content .details h3 span{
  font-size: 12px;
  color: #666;
}*/

/*client Testimonial
.testimonial{
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.review-box{
  margin-top: 50px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  background: white;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
}*/

/*testimonial*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --rale: 'Raleway', sans-serif;
    --green: #22c353;
}

.test-title{
  text-align: center;
  font-size: 2.5rem;
}

.wrapper{
    font-family: var(--rale);
    background-color: transparent;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    overflow-x: hidden;
}
.testimonials{
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.5);
    border-top: 1px solid rgba(255,255,255,.5);
    border-left: 1px solid rgba(255,255,255,.5);
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
    max-width: 1000px;
    margin: 0 3px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 20px 6px rgba(0, 0, 0, 0.2);
}
.title{
    text-align: center;
    margin-top: 15px;
}
.title h2{
    font-weight: 300;
    color: var(--green);
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 32px;
}
.title h2 span{
    font-weight: 600;
}
.title h3{
    text-transform: uppercase;
    font-size: 16px;
    color: #b1b1b1;
    font-weight: 400;
    position: relative;
    margin: 24px 0;
    padding-bottom: 10px;
    letter-spacing: 2px;
    text-align: center;
}
.title h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background: #b1b1b1;
    width: 80px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 16px;
}
.client-thumbnail img{
    width: 100%;
}
.client-thumbnail{
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
}
.clients-tabs{
    margin-bottom: 24px;
}
.client-intro .client-name{
    /*color: linear-gradient(90deg, hsl(276, 100%, 50%) 0%, hsl(335, 100%, 50%) 100%);*/
    color: White;
}
.client-intro .client-designation{
    font-size: 12px;
    color: #b1b1b1;
}
.client-intro .client-description{
    display: none;
}
.client-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 0;
    padding: 12px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.client-item:first-child{
    margin-top: 0;
}
.client-item:last-child{
    margin-bottom: 0;
}
.client-item:hover{
    background-color: whitesmoke;
}
.client-item:hover .client-intro *{
    color: rgb(150, 138, 138);
}
.client-item:active{
    transform: translateY(3px);
}
.client-item.active{
    background-color: whitesmoke;
}
.client-item.active .client-intro *{
    color: black;
}

.show-img img{
    border-radius: 5;
}
.show-text > div{
    padding: 12px 0;
}
.show-text .show-name{
    font-size: 24px;
    color: white;
}
.show-text .show-designation{
    color: whitesmoke;
}
.show-text .show-description{
    margin: 20px 0;
    font-weight: 300;
    color:white;
    line-height: 1.4;
}
.show-text a{
    background-color: var(--green);
    color: #fff;
    text-decoration: none;
    padding: 10px 24px;
    display: inline-block;
    margin-top: 8px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}
.show-text a:hover{
    background-color: #18a040;
}

@media(min-width: 768px){
    .testimonials{
        padding: 20px 40px;
    }
    .content{
        flex-direction: row;
    }
    .clients-list{
        width: 30%;
    }
    .show-info{
        width: calc(70% - 80px);
        margin-left: 30px;
        text-align: justify;
    }
    .clients-tabs{
        margin-bottom: 0px;
    }
}

@media(min-width: 992px){
    .show-info{
        display: flex;
        align-items: flex-start;
    }
    .show-img{
        margin-right: 30px;
        height: 100%;
        width: 200%;
    }
    .show-img img{
        width: 280px;
        object-fit: cover;
        height: 100%;
    }
}

/*Partner*/
.pbody{
  background-color: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.sliderr{
  /*backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,.5);
  border-top: 1px solid rgba(255,255,255,.5);
  border-left: 1px solid rgba(255,255,255,.5);
  box-shadow: 0 20px rgba(0,0,0,.2);*/
  width: 960px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.sliderr::before, .sliderr::after{
  content: '';
  position: absolute;
  width: 200px;
  height: 100px;
  /*background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);*/
  z-index: 2;
}

.sliderr::before{
  top: 0;
  left: 0;
}

.sliderr::after{
  top: 0;
  right: 0;
  transform: rotateZ(180deg);
}

.sliderr .slider-track{
  display: flex;
  width: calc(250px * 14);
  animation: scroll 40s infinite linear;
}

.sliderr .pslides img{
  width: 200px;
  height: 200px;
  margin: 25px 50px;
  border-radius: 50px;
}

@keyframes scroll{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(calc(-250px * 7));
  }
}

.phead{
  font-size: 3rem;
  text-align: center;
}

/*Contact Form*/
.contact-container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
  z-index: 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: purple;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, white);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: purple;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  text-transform: capitalize;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: purple;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: purple;
  font-weight: 600;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: purple;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid purple;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

/*.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1cd4af, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}*/

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}

.map{
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}

@media screen and (min-width:200px) and (max-width:1024px){
  .map iframe{
    width: 80%;
    height: auto;
  }
}

/*Store*/
.coming-soon
{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  overflow: hidden;
}

.coming-soon-inner
{
  position: relative;
}

.heading 
{
  font-size: 100px;
  text-transform: uppercase;
  padding: 20px;
  background: #000;
  color: #fece00;
  transform: skewY(-10deg);
  font-weight: 500;
  line-height: 100px;
}
.small-heading 
{
  font-size: 30px;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px;
  background: #fff;
  color: #000;
  transform: skewY(-10deg);
  font-weight: 500;
  line-height: 30px;
  box-shadow: 10px 10px 20px rgb(0 0 0 / .3);
  position: absolute;
  right: 0;
  bottom: -44px;
}

ul 
{
  list-style: none;
  display: flex;
  column-gap: 10px;
}

.counter-timer 
{
  transform: skewY(-10deg);
  position: absolute;
  left: 0;
  bottom: -75px;
}

.counter-timer > ul > li > span 
{
  padding-right: 5px;
}

.coming-soon-inner:before 
{
  content: "";
  height: 2px;
  width: 60%;
  background: #000;
  position: absolute;
  top: -50px;
  right: 0;
  transform: skewY(-10deg);
}

.coming-soon-inner:after 
{
  content: "";
  height: 2px;
  width: 60%;
  background: #fff;
  position: absolute;
  bottom: -80px;
  right: 0;
  transform: skewY(-10deg);
}

.heading:before 
{
  content: "";
  height: 2px;
  width: 60%;
  background: #000;
  position: absolute;
  top: -50px;
  left: 0;
}

.heading:after 
{
  content: "";
  height: 2px;
  width: 60%;
  background: #fff;
  position: absolute;
  bottom: -120px;
  left: 0;
}

@media only screen and (max-width: 400px) and (min-width: 200px) {
  .heading {
      font-size: 30px;
        line-height: 40px;
      text-transform: uppercase;
      padding: 10px 20px;
  }
  .small-heading {
      font-size: 20px;
        padding: 10px;
        bottom: -49px;
  }
  .counter-timer li {
      font-size: 12px;
  }
  .coming-soon-inner:before {
    top: -20px;
  }
  .heading:before {
    top: -20px;
  }
  .heading:after {
    bottom: -100px;
  }
} 
@media only screen and (max-width: 767px) and (min-width: 401px) {
  .heading {
      font-size: 40px;
        line-height: 50px;
      text-transform: uppercase;
      padding: 10px 20px;
  }
  .small-heading {
      font-size: 25px;
        padding: 10px;
        bottom: -48px;
  }
  .counter-timer li {
      font-size: 15px;
  }
  .coming-soon-inner:before {
    top: -30px;
  }
  .heading:before {
    top: -30px;
  }
  .heading:after {
    bottom: -100px;
  }
}